body {
  font-family: Arial;
  background: linear-gradient(135deg, #141e30, #243b55);
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px;
  width: 100%;
  background: #243b55;
  color: white;
  border: none;
  cursor: pointer;
}

.profile {
  margin-top: 15px;
}

.profile img {
  width: 100px;
  border-radius: 50%;
}

.profile a {
  display: block;
  margin-top: 5px;
  color: #243b55;
  text-decoration: none;
}
